* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: url('image/tlo2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.naglowek ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: rgb(42, 41, 41);
}

.naglowek li {
    float: left;
}

.naglowek li a {
    display: block;
    color: rgb(231, 225, 225);
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

.container {

    border-radius: 10px;
    margin-left:  210px;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(150px);
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #000000;
    border-radius: 10px;
    padding-top: 50px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px #000000;
font-size: 30px;
}
