/* JAKBY NIE UZYWAMY????
/*
.container2 {
    border-radius: 10px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ffffff;
}



.seans-info {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.seans-info h2 {
    margin-bottom: 10px;
    color: #333;
}

.info-item {
    margin-bottom: 10px;
    font-size: 16px;
}

.info-item strong {
    color: #007bff;
}

.info-item span {
    font-weight: bold;
}



.seats-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    justify-content: center;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
}



.seat {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #76c7c0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.seat:hover {
    background-color: #5aa8a3;
}

.seat.taken {
    background-color: red;
    cursor: not-allowed;
}

.seat.selected {
    background-color: green;
}



@media (max-width: 768px) {
    .seats-grid {
        max-width: 90%;
        gap: 5px;
    }
    .seat {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
}
*/