/* Sekcja powitalna */

.sekcja1 {
    background: url('images/bg1.jpg') no-repeat center center/cover;
    color: black;
    padding: 1vw 0;
}

.sekcja1 h1 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: black 0 0 0;
}

.sekcja1 p {
    font-size: 1.25rem;
    font-weight: 300;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.1);
    margin-top: 1vw;
}

.card-img-top {
    max-height: 40vw;
    min-height: 40vw;
    object-fit: cover;
}

.card-body {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.sekcja3.card-body {
    margin-top: 1vw;
}

.card-title {
    font-size: 1rem;
    white-space: nowrap;
}

[data-bs-theme="dark"] .card-body {
    background: linear-gradient(45deg, #424242, #490000);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
    text-shadow: black 0.1em 0.1em 0.2em;
}

[data-bs-theme="light"] .card-body {
    background: linear-gradient(45deg, #8feccd, #006f4a);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

[data-bs-theme="auto"] .card-body {
    background: linear-gradient(45deg, #787878, #1d1d1d);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}


/* Sekcja opinii użytkowników */

.sekcja3 {
    padding: 1vw 0;
}

.sekcja3 .card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sekcja3 .card-body {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    text-align: center;
}

[data-bs-theme="dark"] .sekcja1 p {
    text-shadow: black 0.1em 0.1em 0.2em;
}

[data-bs-theme="dark"] .sekcja1 {
    color: white;
}


/* Animacja tła gradientowego */

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}